* {
    background: #090909;
    color: white;
}

div {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .625rem;
}

article {
    padding: 2px;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    color: white;
    width: 300px;
}